<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/git.css">
</head>
<body>
    <div class="box5">
        <div class="box6">
            <h6 class="heading5">Login To Your Account</h6>
         
            <div class="three-cards">
                <div class="card">
                    <a href="/child-register"><a href="/child-register"><img src="/child1.jpg" alt="Image Error"></a></a>
                    <div class="plus"><a href="/child-register">+</a></div>
                </div>
                <div class="card">
                    <a href="/parent-register"><a href="/parent-register"><img src="/parent.jpg" alt="Image Error"></a></a>
                    <div class="plus"><a href="/parent-register">+</a></div>
                </div>

                <div class="card">
                    <a href="/doctor-register"><a href="/doctor-register"><img src="/doctor.jpg" alt="Image Error"></a></a>
                    <div class="plus"><a href="/doctor-register">+</a></div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>